In [ ]:
# recursion:

In [5]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)

In [6]:
factorial(5)

120

In [7]:
# sum of number
def sumof(n):
    if n == 0:
        return 0
    else:
        return n%10 + sumof(n//10)

In [8]:
sumof(123)

6

In [9]:
m=234

In [10]:
m%10

4

In [13]:
m//10
# gives the pending value(remove the last value)

23

In [16]:
# power of number:
def power(x,n):
    if n == 0:
        return 1
    else:
        return x * power(x,n-1)

In [17]:
power(2,3)

8

In [18]:
power(3,2)

9

In [48]:
"""Hello maam,
I have 1 question on recursion:
for power:

def power(x,n):
    if n == 0:
        return 1
    else:
        return x * power(x,n-1)

when the given is power(2,3)



then in the last iteration it will be
.
.
.
else:
        return 8* power(2,0)

Then from here it will go to the if loop right?
then it won't return as 1."""

"""
We need more practice. If it goes slow, it would be nice for Python as it will be tough to get things and a bit complex.
In-class solving is better.

access to speak in class so that we can more clearly communicate our doubts.
"""

"Hello maam,\nI have 1 question on recursion:\nfor power:\n\ndef power(x,n):\n    if n == 0:\n        return 1\n    else:\n        return x * power(x,n-1)\n\nwhen the given is power(2,3)\n\n\n\nthen in the last iteration it will be\n.\n.\n.\nelse:\n        return 8* power(2,0)\n\nThen from here it will go to the if loop right?\nthen it won't return as 1."

In [49]:
#sets

In [19]:
s = {1,2,3,4,5,6,6,7,3,4,10,7,8,9}
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
s1=set([1,6,7,8,3,2])
s1

{1, 2, 3, 6, 7, 8}

In [21]:
s1.add(23)
s1

{1, 2, 3, 6, 7, 8, 23}

In [22]:
s.remove(90)

KeyError: 90

In [23]:
s.discard(90)

In [ ]:
#check membership

In [24]:
 5 in s

True

In [25]:
67 in s

False

In [26]:
len(s)

10

In [ ]:
#

In [29]:
s= {1,2,3,4,5}
y={4,5,6,7,8,9}

In [30]:
# union
s | y

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
# intercect (common value)
s & y

{4, 5}

In [33]:
s - y

{1, 2, 3}

In [34]:
s^y

{1, 2, 3, 6, 7, 8, 9}

In [35]:
s1 ={1,2,3,4,5,6,7,8}
s2={1,2,4}

In [37]:
s2.issubset(s1)

True

In [38]:
s1.issubset(s2)

False

In [39]:
s2.issuperset(s1)

False

In [40]:
s1.issuperset(s2)

True

In [ ]:
# disjoint -> check if 2 elements have nothing in column

In [42]:
s1.isdisjoint(s2)

False

In [43]:
{2,3}.isdisjoint({4,5})

True

In [44]:
# remove the duplicates from the list
l=[1,2,3,5,6,5,7,5,6,4,3,7]
l

[1, 2, 3, 5, 6, 5, 7, 5, 6, 4, 3, 7]

In [45]:
s=set(l)
s

{1, 2, 3, 4, 5, 6, 7}

In [46]:
# count the unique words in the sentence

In [47]:
sen="sneha me sneha 2 2 5 6 hey hi hey got got every all Thank you you you t t"
uw =len(set(sen.split()))
uw

13

In [47]:
# dictionary - collection of key-value pairs
# unoredered,every key is unique,mutable, dynamic

In [ ]:
# creation

In [48]:
d = {'name':'john','age':25,'city':'London'}
d

{'name': 'john', 'age': 25, 'city': 'London'}

In [49]:
type(d)

dict

In [50]:
d1 = dict(name = 'Emily',a=2, j='k',l =[6,7,8])
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8]}

In [51]:
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8]}

In [52]:
d2 = {'name': 'Emily', 'a': 2, 2: True, 3: [6, 7, 8]}
d2

{'name': 'Emily', 'a': 2, 2: True, 3: [6, 7, 8]}

In [ ]:
# creating using dict keyword, can't assign numbers as key

In [53]:
# access
d

{'name': 'john', 'age': 25, 'city': 'London'}

In [54]:
d['name']

'john'

In [55]:
d['age']

25

In [ ]:
# get method - avoids KeyError if the key doesn't exist

In [56]:
d.['salary']

SyntaxError: invalid syntax (1658950907.py, line 1)

In [57]:
d.get('salary')

In [58]:
d.get('name')

'john'

In [59]:
d.keys()

dict_keys(['name', 'age', 'city'])

In [60]:
d.values()

dict_values(['john', 25, 'London'])

In [61]:
d.items()

dict_items([('name', 'john'), ('age', 25), ('city', 'London')])

In [62]:
for k,v in d.items():
    print(f"key is {k} and value is {v}")

key is name and value is john
key is age and value is 25
key is city and value is London

In [63]:
# fromkeys - used to create a new dictionary with specified keys
# and default value

k = ['a','b','c']
d3 = dict.fromkeys(k)
d3

{'a': None, 'b': None, 'c': None}

In [64]:
k1 = ['age','salary']
d4 = dict.fromkeys(k1,'Unknown')

In [65]:
d4

{'age': 'Unknown', 'salary': 'Unknown'}

In [66]:
# adding and updating items

In [67]:
d

{'name': 'john', 'age': 25, 'city': 'London'}

In [68]:
# add
d['salary'] = 90000

In [69]:
d

{'name': 'john', 'age': 25, 'city': 'London', 'salary': 90000}

In [70]:
d['age'] = 30

In [71]:
d

{'name': 'john', 'age': 30, 'city': 'London', 'salary': 90000}

In [73]:
# remove
del d['salary']

In [74]:
d

{'name': 'john', 'age': 30, 'city': 'London'}

In [75]:
# pop() - returns the key-value pair that got removed

d.pop('age')

30

In [76]:
d

{'name': 'john', 'city': 'London'}

In [78]:
# clear() - removes all key-value pairs
d.clear()

In [79]:
d

{}

In [80]:
# dictionary comprehension

In [81]:
sq = {x:x**2 for x in range(1,11)}
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [82]:
# Write a function to merge two dictionaries and 
# sum the values of common keys.

In [83]:
# dict1 = {'a': 10, 'b': 20, 'c': 30}
# dict2 = {'b': 5, 'c': 15, 'd': 25}
# o/p--> {'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [84]:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}

In [85]:
def m(d1,d2):
    md= {}
    keys = set(d1.keys()).union(d2.keys())
    for k in keys:
        md[k] = d1.get(k,0)+d2.get(k,0)
    return md

In [86]:
m(dict1,dict2)

{'b': 25, 'd': 25, 'a': 10, 'c': 45}

In [87]:
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8]}

In [88]:
d1.get('b',0)

0

In [89]:
d1['b']= 0

In [90]:
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8], 'b': 0}