In [2]:
print("Hello world");

Hello world

In [3]:
print(10)

10

In [7]:
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [8]:
b = 88
b
a

20

In [9]:
1a= 5
1a

SyntaxError: invalid syntax (2491251159.py, line 1)

In [10]:
_a = 5
_a

5

In [13]:
a@1 = 5
a@1
# variable name cannot start or have special character.

SyntaxError: cannot assign to operator (339564393.py, line 1)

In [14]:
# int - Integer
# float - Decimal Number

In [17]:
age = 77
n='24354455'
b= 46.454

type(age)

int

In [16]:
type(n)

str

In [18]:
type(b)

float

In [19]:
r= True
#bool- Boolean
type(r)

bool

In [20]:
s= None
type(s)

NoneType

In [23]:
# input data
a = input("Enter age : ")
a
type(a)

Enter age : 4

str

In [29]:
# type casting
b =int(a)
type(b)

int

In [32]:
float(a)

4.0

In [33]:
first = int(input("Enter the data :"))
first

Enter the data :66

66

In [ ]:
# write a program that
# prompts the user to enter any value
#prints the valueand the data type
# try converting the value into int, float and boolean
#then prints the converted values and their data type

In [34]:
value= int(input("enterthe value: "))
print(value)

enterthe value: 55
55

In [35]:
type(value)

int

In [39]:
value2 = float(value)
type(value2)

float

In [38]:
value2

55.0

In [40]:
value3 =bool(value)
type(value3)

bool

In [41]:
value3

True

In [ ]:
# 2. Write a program that:

# Asks the user to enter the names of three items they want to
# buy (one at a time).
# Stores the items in variables.
# Prints a formatted list of the items the user entered.

In [54]:
i =1
l=[]
for i in range(3):
    a= input("entert the value : ")
    l.append(a)
    i= i+1
    print(l)

entert the value : pop
['pop']
entert the value : yop
['pop', 'yop']
entert the value : lop
['pop', 'yop', 'lop']

In [67]:
#easy code
a1= input("entert the 1st value : ")
a2= input("entert the 2nd value : ")
a3 =input("entert the 3rd value : ")

entert the 1st value : week
entert the 2nd value : days
entert the 3rd value : hrs

In [68]:
print("1st value : ",a1)
print("2st value : ",a2)
print("3st value : ",a3)

1st value :  week
2st value :  days
3st value :  hrs

In [ ]:
# 3. Write a program that swaps the values of two variables

In [62]:
a =88
b =99
print(a)
print(b)

88
99

In [63]:
a,b=b,a
print(a)
print(b)

99
88

In [ ]:
# 3. Write a program that swaps the values of two variables
a=4
b=5
c=0