In [1]:
# output function : Print
print("Hello!")

Hello!

In [2]:
print(10)

10

In [4]:
# variables - like containers that store information which can be used later

In [5]:
a = 20
print(a)

20

In [8]:
a = "hi"
print(a)

hi

In [9]:
a = 90
a

90

In [15]:
b = 80
# b --> gets ignored because without print only the last line of 
# code gets displayed
a

90

In [16]:
a = 10
b = 100
c = "hi"

In [18]:
print(a)
print(b)
c

10
100

'hi'

In [19]:
# rules variable names

In [20]:
a = 10
a

10

In [23]:
1a = 90
1a

SyntaxError: invalid syntax (3694344866.py, line 1)

In [24]:
# variable names cannot start with a digit

In [25]:
a_3 = 89
a_3

89

In [26]:
_a = 78
_a

78

In [27]:
# variable names can start with _

In [28]:
@a = 90
@a

SyntaxError: invalid syntax (2823993828.py, line 1)

In [31]:
# variable names cannot start or have special characters

In [30]:
a@1 = 90
a@1

SyntaxError: cannot assign to operator (2558983884.py, line 1)

In [32]:
# variable names cannot have spaces

In [33]:
age = 87
age

87

In [34]:
# variable names cannot be reserved keywords

In [35]:
# Data Types

In [36]:
# numeric data types

In [37]:
# int - integer
# float - decimal numbers

In [44]:
age = -25
age

-25

In [45]:
type(age)

int

In [42]:
weight = 50.8990
weight

50.899

In [43]:
type(weight)

float

In [46]:
# string - text or characters

In [49]:
n = "12345"
n

'12345'

In [50]:
type(n)

str

In [51]:
# bool - boolean

In [52]:
s = True
s

True

In [53]:
type(s)

bool

In [55]:
# NoneType - reprsents missing value or null value

In [56]:
r = None
r

In [57]:

type(r)

NoneType

In [59]:
# input function - takes the user's response and stores it a string

In [63]:
a = input("Enter your name :")
a

Enter your name :Emily

'Emily'

In [64]:
type(a)

str

In [82]:
a = input(int(6))
a

6hello

'hello'

In [66]:
# store numeric value

In [67]:
# type casting

In [80]:
age = input("Enter age :")
age

Enter age :27

'27'

In [81]:
age_converted = int(age)

In [72]:
type(age)

str

In [73]:
type(age_converted)

int

In [74]:
float(age)

25.0

In [84]:
a = int(input("Enter a num :"))
a

Enter a num :78

78

In [77]:
type(a)

int

In [87]:
first = int(input("Enter the data : "))
first

Enter the data : 89

89

In [88]:
# 1. Write a program that:

# Prompts the user to enter any value.
# Prints the value and its data type.
# Tries converting the value into an integer, float, and boolean, 
# then prints the converted values and their types.

In [1]:
m = input("Enter a value")
print(m)

Enter a value98
98

In [2]:
type(m)

str

In [4]:
int(m)

98

In [5]:
float(m)

98.0

In [7]:
bool(m)

True

In [89]:
# 2. Write a program that:

# Asks the user to enter the names of three items they want to
# buy (one at a time).
# Stores the items in variables.
# Prints a formatted list of the items the user entered.

In [8]:
a1 = input("Enter 1st item : ")
a2 = input("Enter 2nd item : ")
a3 = input("Enter 3rd item : ")

Enter 1st item : Mango
Enter 2nd item : Pencil
Enter 3rd item : Coconut

In [9]:
print("1st item is :",a1)
print("2nd item is :",a2)
print("3rd item is :",a3)

1st item is : Mango
2nd item is : Pencil
3rd item is : Coconut

In [90]:
# 3. Write a program that swaps the values of two variables

In [10]:
a = 10
b = 20

In [11]:
a

10

In [12]:
b

20

In [13]:
a,b = b,a

In [14]:
a

20

In [15]:
b

10

In [16]:
a = 10
b = 20

In [17]:
c = a
c

10

In [18]:
a = b
a

20

In [19]:
b = c

In [20]:
b

10

In [21]:
# operators

In [22]:
# arithmetic operators

In [23]:
a = 6
# assigning 6 to variable a

In [24]:
b = 9

In [25]:
a

6

In [26]:
b

9

In [27]:
a+b

15

In [28]:
a-b

-3

In [29]:
a*b

54

In [30]:
a/b

0.6666666666666666

In [31]:
4/2

2.0

In [32]:
# division opeartor returns result in float data type

In [33]:
4//2

2

In [37]:
# // --> floor division - returns nearest integer possible which is less 
# than or equal to the quotient

In [35]:
5/2

2.5

In [36]:
5//2

2

In [38]:
10//3

3

In [39]:
10/3

3.3333333333333335

In [40]:
10%3

1

In [41]:
# % returns the remainder of a division

In [42]:
2*2

4

In [44]:
3**2

9

In [45]:
# ** --> exponentiation - 3 to the power of 2

In [46]:
3.4**2

11.559999999999999

In [47]:
'abc' + 'def'

'abcdef'

In [48]:
# + when used with str performs concatenation

In [49]:
# operator overloading

In [50]:
'abc' * 3

'abcabcabc'

In [51]:
# * when used with str repeats the string that many number of times

In [53]:
# comparison operators - compares two values and returns a boolean value

In [54]:
a

6

In [55]:
b

9

In [56]:
a == b
# is a equal to b?

False

In [57]:
10 == 10

True

In [58]:
# not equal to -> !=

In [59]:
a != b

True

In [60]:
10 !=10

False

In [61]:
4>5

False

In [62]:
4<7

True

In [63]:
4>=4

True

In [64]:
5>=3

True

In [65]:
# logical operators

In [66]:
a

6

In [67]:
b

9

In [68]:
a>4 and b>11

False

In [69]:
4>5 or 6<7

True

In [70]:
not(10>5)

False

In [71]:
10>5

True

In [72]:
# assignment operators

In [73]:
a = 13

In [74]:
a

13

In [75]:
a+=1
a

14

In [77]:
# addition assignment -> adding 1 to a and assigning it back to a
# a = a+1

In [78]:
a

14

In [79]:
a+1

15

In [80]:
a

14

In [81]:
a-=2
a

12

In [82]:
# subtraction assignment -> a = a-2

In [83]:
a*=3
a

36

In [84]:
# a = a*3

In [85]:
a/=2
a

18.0

In [86]:
# a = a/2

In [87]:
a//=2
a

9.0

In [88]:
# a = a//2

In [89]:
18.0//2

9.0

In [90]:
# data type preservation

In [91]:
18//2

9

In [92]:
a

9.0

In [93]:
a%=2
a

1.0

In [94]:
a**=3
a

1.0

In [97]:
# membership operator --> checks if a values exists in a sequence of values

In [98]:
'a' in 'apple'

True

In [99]:
'x' in 'apple'

False

In [100]:
'p' not in 'apple'

False

In [102]:
# 1. Take base and height from user input.
# Write a Python function that calculates the area of a triangle

In [105]:
b = float(input("Enter base : "))
h = float(input("Enter height : "))

area = 0.5*b*h
area

Enter base : 8.5
Enter height : 9.9

42.075

In [103]:
# 2. Write a Python program to calculate the total cost of n items 
# where the cost of each item is p. Apply a 10% discount on the total 
# cost and display the discounted amount.(take n,p as user_input)

In [106]:
n = int(input("Enter no of items :"))
p = float(input("Enter cost per item :"))
total_cost = p*n
da = total_cost - (total_cost * 0.1)
da

Enter no of items :10
Enter cost per item :120

1080.0

In [104]:
# 3. Write a program to swap two without using a third variable or 
# without using (a,b = b,a)

In [107]:
a = 20
b = 10

In [108]:
a

20

In [109]:
b

10

In [110]:
a = a+b
a

30

In [111]:
b = a - b
b

20

In [112]:
a = a- b
a

10

In [113]:
a = 60
b = 80

In [114]:
a = a+b
b = a-b
a = a-b

In [115]:
a

80

In [116]:
b

60

In [118]:
# print - used to display information

In [119]:
print(a)

80

In [120]:
print("a")

a

In [121]:
print(20)

20

In [122]:
# print to display multiple items

In [124]:
name = 'Alice'
age = 25
print("Name :",name,"Age :",age)

Name : Alice Age : 25

In [129]:
print("Name :",name,"Age :",age)
print("This is my info")

Name : Alice Age : 25
This is my info

In [126]:
# by default print always adds a new line at the end

In [127]:
# end paramater can be used to make print display output in same line

In [132]:
print("Name :",name,"Age :",age, end = "******")
print("This is my info")
print("aaaa")

Name : Alice Age : 25******This is my info
aaaa

In [134]:
print("The max is:",a,"\nThe min is:",b)

The max is: 80
The min is: 60

In [135]:
# separator

In [136]:
print("apple","banana","cherry")

apple banana cherry

In [137]:
# by default print always displays items separated by space

In [141]:
print("apple","banana","cherry", sep =" *** ")

apple *** banana *** cherry

In [143]:
# special characters - escape sequences

In [144]:
print("hello world")

hello world

In [145]:
# hello
# world

In [146]:
print("hello \nworld")

hello
world

In [147]:
# hello   world

In [148]:
print("hello \tworld")

hello 	world

In [149]:
# hello \world

In [150]:
print("hello \\world")

hello \world

In [151]:
# it's raining

In [152]:
print("It\'s raining")

It's raining

In [154]:
# f strings - formatted strings

In [155]:
print("Value of a is :",a,"Value of b is :",b,"sum is :", a+b)

Value of a is : 80 Value of b is : 60 sum is : 140

In [156]:
print(f"Value of a is {a}, Value of b is {b}, Sum is {a+b}")

Value of a is 80, Value of b is 60, Sum is 140

In [157]:
# if-else

In [158]:
# if condition:
#     code
# else:
#     code1

In [159]:
age = 20

In [160]:
if age > 20:
    print("A is an adult")
    print("A can vote")
else:
    print("A is not an adult")
    print("A cannot vote")

A is not an adult
A cannot vote

In [162]:
age = 30

In [163]:
if age > 20:
    print("A is an adult")
    print("A can vote")
else:
    print("A is not an adult")
print("A cannot vote")

A is an adult
A can vote
A cannot vote

In [165]:
a = 40
if a>=70:
    print("A is greater than 70")
print(f"A is {a}")

A is 40

In [167]:
# multiple condition checking - elif

In [168]:
# if condition1:
#     code1
# elif condition2:
#     code2
# else:
#     code3

In [169]:
a = 80

In [170]:
if a<70:
    print("a is less than 70")
elif a > 70:
    print("a is greater than 70")
else:
    print("Not applicable")

a is greater than 70

In [171]:
# 1. take 2 numbers from user are find which is the greater one

In [176]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))

if a>b:
    print("A is greater than B")
elif a<b:
    print("A is lesser than B")
else:
    print("Both are equal")

Enter a:78
Enter b:78
Both are equal

In [172]:
# 2. Check if a person is eligible to donate blood.
# A person must be older than 18 and weigh more than 50 kg to be 
# eligible.

In [177]:
age = 22
weight = 48

if age > 18 and weight > 50:
    print("You are eligible to donate blood.")
else:
    print("You are not eligible to donate blood.")

You are not eligible to donate blood.

In [173]:
# 3. Write a program to check if a number is positive, negative, 
# or zero. Additionally, if the number is positive, check if it is 
# even or odd.

In [178]:
number = -10

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is negative.

In [174]:
# 4. Write a program to chbeck if a number x = 45 lies within these 
# ranges:
# 0 to 20: Print "Low range"
# 21 to 50: Print "Medium range"
# Above 50: Print "High range"

In [179]:
x = 45

if 0 <= x <= 20:
    print("Low range")
elif 21 <= x <= 50:
    print("Medium range")
else:
    print("High range")

Medium range

In [175]:
# 5. Write a program to categorize a persons BMI (Body Mass Index) 
# based on the following:

# BMI < 18.5: "Underweight"
# 18.5 <= BMI < 25: "Normal weight"
# 25 <= BMI < 30: "Overweight"
# BMI >= 30: "Obesity"

In [180]:
bmi = 27.5

if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 25:
    print("Normal weight")
elif 25 <= bmi < 30:
    print("Overweight")
else:
    print("Obesity")

Overweight

In [184]:
# 1.Write a program to calculate the average of three subjects' 
# marks entered by the user. Print "Pass" if the average is >= 40, 
# otherwise print "Fail."

In [189]:
mark1 = float(input("Enter marks for subject 1: "))
mark2 = float(input("Enter marks for subject 2: "))
mark3 = float(input("Enter marks for subject 3: "))

average = (mark1 + mark2 + mark3) / 3

if average >= 40:
    print(f"Pass with an average of {average:.2f}")
else:
    print(f"Fail with an average of {average:.2f}")

Enter marks for subject 1: 89.5
Enter marks for subject 2: 98
Enter marks for subject 3: 30
Pass with an average of 72.50

In [190]:
d = 8.765439
d

8.765439

In [191]:
type(d)

float

In [196]:
round(d,2)

8.77

In [193]:
print(f"value of d is {d}, 2-decimal places : {d:.2f}")

value of d is 8.765439, 2-decimal places : 8.77

In [185]:
# 2. Write a program to take two numbers as input and print whether 
# they are equal, the first is greater, or the second is greater.

In [194]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if num1>num2:
    print(f"{num1} is greater than {num2}")
elif num1<num2:
    print(f"{num1} is lesser than {num2}")
else:
    print(f"{num1} is equal to {num2}")

Enter the first number: 89
Enter the second number: 87
89.0 is greater than 87.0

In [186]:
# 3.Ask the user to input a number. Print "Divisible by both 3 and 5" 
# if true, otherwise print "Not divisible by both."

In [198]:
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("Divisible by both 3 and 5")
else:
    print("Not divisible by both")

Enter a number: 15
Divisible by both 3 and 5

In [187]:
# 4.Take three angles of a triangle as input. Print "Valid triangle" 
# if the sum is 180, otherwise print "Invalid triangle."

In [200]:
a1 = float(input("Enter first angle ->"))
a2 = float(input("Enter second angle ->"))
a3 = float(input("Enter third angle ->"))

if a1+a2+a3 == 180:
    print("Valid Triangle")
else:
    print("Invalid Triangle")

Enter first angle ->80
Enter second angle ->30
Enter third angle ->70
Valid Triangle

In [188]:
# 5.Take a number (1-7) as input and print the corresponding day of 
# the week.

In [204]:
day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
elif day == 7:
    print("Sunday")
else:
    print("Invalid input")

Enter a number (1-7): 7
Sunday

In [201]:
# 6.Calculate the electricity bill based on:
# 5/unit for the first 50 units
# 7/unit for the next 100 units (51-150)
# 10/unit beyond 150 units

# Take units inout from user

In [207]:
units = int(input("Enter the number of units: "))

if units<=50:
    bill = units*5
elif units<=150:
    bill = (50*5) + (units-50)*7
else:
    bill = (50*5)+(100*7)+(units-150)*10

print(f"Total bill is {bill}")

Enter the number of units: 180
Total bill is 1250

In [208]:
# take 3 numbers input from user and print the greatest one

In [209]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1>num2 and num1>num3:
    print(f"{num1} is greatest")
elif num2>num3:
    print(f"{num2} is greatest")
else:
    print(f"{num3} is greatest")

Enter the first number: 78
Enter the second number: 86
Enter the third number: 56
86.0 is greatest

In [210]:
# take 3 numbers input from user and print the greatest one,
# check if all of them are equal or if any two are equal

In [212]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [213]:
# ends with n actually stops at n-1

In [214]:
# Loops

In [217]:
# for loops - a way to repeat actions multiple times
# optimised execution - saves time and effort

In [218]:
# 1. taking each items from a sequence of items
# 2. executes the task/code for this taken item
# 3. moves to the next item automatically until it finishes with all items

In [219]:
# syntax - 
# for variable in sequence:

In [220]:
# string - sequence of characters

In [221]:
for i in "apple":
    print(i)

a
p
p
l
e

In [224]:
# range function -> generates a range of numbers, does not display
# range(start, stop,step(optional))

In [225]:
# range(2,9) --> generate numbers starting from 2 and ending till 8
# stops at n-1

In [226]:
range(2,9)

range(2, 9)

In [229]:
for i in range(2,9):
    print(f"{i} and type of i is {type(i)}")

2 and type of i is <class 'int'>
3 and type of i is <class 'int'>
4 and type of i is <class 'int'>
5 and type of i is <class 'int'>
6 and type of i is <class 'int'>
7 and type of i is <class 'int'>
8 and type of i is <class 'int'>

In [228]:
print(range(2,9))

range(2, 9)