In [1]:
# output function : Print
print("Hello!")

Hello!

In [2]:
print(10)

10

In [4]:
# variables - like containers that store information which can be used later

In [5]:
a = 20
print(a)

20

In [8]:
a = "hi"
print(a)

hi

In [9]:
a = 90
a

90

In [15]:
b = 80
# b --> gets ignored because without print only the last line of 
# code gets displayed
a

90

In [16]:
a = 10
b = 100
c = "hi"

In [18]:
print(a)
print(b)
c

10
100

'hi'

In [19]:
# rules variable names

In [20]:
a = 10
a

10

In [23]:
1a = 90
1a

SyntaxError: invalid syntax (3694344866.py, line 1)

In [24]:
# variable names cannot start with a digit

In [25]:
a_3 = 89
a_3

89

In [26]:
_a = 78
_a

78

In [27]:
# variable names can start with _

In [28]:
@a = 90
@a

SyntaxError: invalid syntax (2823993828.py, line 1)

In [31]:
# variable names cannot start or have special characters

In [30]:
a@1 = 90
a@1

SyntaxError: cannot assign to operator (2558983884.py, line 1)

In [32]:
# variable names cannot have spaces

In [33]:
age = 87
age

87

In [34]:
# variable names cannot be reserved keywords

In [35]:
# Data Types

In [36]:
# numeric data types

In [37]:
# int - integer
# float - decimal numbers

In [44]:
age = -25
age

-25

In [45]:
type(age)

int

In [42]:
weight = 50.8990
weight

50.899

In [43]:
type(weight)

float

In [46]:
# string - text or characters

In [49]:
n = "12345"
n

'12345'

In [50]:
type(n)

str

In [51]:
# bool - boolean

In [52]:
s = True
s

True

In [53]:
type(s)

bool

In [55]:
# NoneType - reprsents missing value or null value

In [56]:
r = None
r

In [57]:

type(r)

NoneType

In [59]:
# input function - takes the user's response and stores it a string

In [63]:
a = input("Enter your name :")
a

Enter your name :Emily

'Emily'

In [64]:
type(a)

str

In [82]:
a = input(int(6))
a

6hello

'hello'

In [66]:
# store numeric value

In [67]:
# type casting

In [80]:
age = input("Enter age :")
age

Enter age :27

'27'

In [81]:
age_converted = int(age)

In [72]:
type(age)

str

In [73]:
type(age_converted)

int

In [74]:
float(age)

25.0

In [84]:
a = int(input("Enter a num :"))
a

Enter a num :78

78

In [77]:
type(a)

int

In [87]:
first = int(input("Enter the data : "))
first

Enter the data : 89

89

In [88]:
# 1. Write a program that:

# Prompts the user to enter any value.
# Prints the value and its data type.
# Tries converting the value into an integer, float, and boolean, 
# then prints the converted values and their types.

In [1]:
m = input("Enter a value")
print(m)

Enter a value98
98

In [2]:
type(m)

str

In [4]:
int(m)

98

In [5]:
float(m)

98.0

In [7]:
bool(m)

True

In [89]:
# 2. Write a program that:

# Asks the user to enter the names of three items they want to
# buy (one at a time).
# Stores the items in variables.
# Prints a formatted list of the items the user entered.

In [8]:
a1 = input("Enter 1st item : ")
a2 = input("Enter 2nd item : ")
a3 = input("Enter 3rd item : ")

Enter 1st item : Mango
Enter 2nd item : Pencil
Enter 3rd item : Coconut

In [9]:
print("1st item is :",a1)
print("2nd item is :",a2)
print("3rd item is :",a3)

1st item is : Mango
2nd item is : Pencil
3rd item is : Coconut

In [90]:
# 3. Write a program that swaps the values of two variables

In [10]:
a = 10
b = 20

In [11]:
a

10

In [12]:
b

20

In [13]:
a,b = b,a

In [14]:
a

20

In [15]:
b

10

In [16]:
a = 10
b = 20

In [17]:
c = a
c

10

In [18]:
a = b
a

20

In [19]:
b = c

In [20]:
b

10