In [1]:
# output function : Print
print("Hello!")

Hello!

In [2]:
print(10)

10

In [4]:
# variables - like containers that store information which can be used later

In [5]:
a = 20
print(a)

20

In [8]:
a = "hi"
print(a)

hi

In [9]:
a = 90
a

90

In [15]:
b = 80
# b --> gets ignored because without print only the last line of 
# code gets displayed
a

90

In [16]:
a = 10
b = 100
c = "hi"

In [18]:
print(a)
print(b)
c

10
100

'hi'

In [19]:
# rules variable names

In [20]:
a = 10
a

10

In [23]:
1a = 90
1a

SyntaxError: invalid syntax (3694344866.py, line 1)

In [24]:
# variable names cannot start with a digit

In [25]:
a_3 = 89
a_3

89

In [26]:
_a = 78
_a

78

In [27]:
# variable names can start with _

In [28]:
@a = 90
@a

SyntaxError: invalid syntax (2823993828.py, line 1)

In [31]:
# variable names cannot start or have special characters

In [30]:
a@1 = 90
a@1

SyntaxError: cannot assign to operator (2558983884.py, line 1)

In [32]:
# variable names cannot have spaces

In [33]:
age = 87
age

87

In [34]:
# variable names cannot be reserved keywords

In [35]:
# Data Types

In [36]:
# numeric data types

In [37]:
# int - integer
# float - decimal numbers

In [44]:
age = -25
age

-25

In [45]:
type(age)

int

In [42]:
weight = 50.8990
weight

50.899

In [43]:
type(weight)

float

In [46]:
# string - text or characters

In [49]:
n = "12345"
n

'12345'

In [50]:
type(n)

str

In [51]:
# bool - boolean

In [52]:
s = True
s

True

In [53]:
type(s)

bool

In [55]:
# NoneType - reprsents missing value or null value

In [56]:
r = None
r

In [57]:

type(r)

NoneType

In [59]:
# input function - takes the user's response and stores it a string

In [63]:
a = input("Enter your name :")
a

Enter your name :Emily

'Emily'

In [64]:
type(a)

str

In [82]:
a = input(int(6))
a

6hello

'hello'

In [66]:
# store numeric value

In [67]:
# type casting

In [80]:
age = input("Enter age :")
age

Enter age :27

'27'

In [81]:
age_converted = int(age)

In [72]:
type(age)

str

In [73]:
type(age_converted)

int

In [74]:
float(age)

25.0

In [84]:
a = int(input("Enter a num :"))
a

Enter a num :78

78

In [77]:
type(a)

int

In [87]:
first = int(input("Enter the data : "))
first

Enter the data : 89

89

In [88]:
# 1. Write a program that:

# Prompts the user to enter any value.
# Prints the value and its data type.
# Tries converting the value into an integer, float, and boolean, 
# then prints the converted values and their types.

In [1]:
m = input("Enter a value")
print(m)

Enter a value98
98

In [2]:
type(m)

str

In [4]:
int(m)

98

In [5]:
float(m)

98.0

In [7]:
bool(m)

True

In [89]:
# 2. Write a program that:

# Asks the user to enter the names of three items they want to
# buy (one at a time).
# Stores the items in variables.
# Prints a formatted list of the items the user entered.

In [8]:
a1 = input("Enter 1st item : ")
a2 = input("Enter 2nd item : ")
a3 = input("Enter 3rd item : ")

Enter 1st item : Mango
Enter 2nd item : Pencil
Enter 3rd item : Coconut

In [9]:
print("1st item is :",a1)
print("2nd item is :",a2)
print("3rd item is :",a3)

1st item is : Mango
2nd item is : Pencil
3rd item is : Coconut

In [90]:
# 3. Write a program that swaps the values of two variables

In [10]:
a = 10
b = 20

In [11]:
a

10

In [12]:
b

20

In [13]:
a,b = b,a

In [14]:
a

20

In [15]:
b

10

In [16]:
a = 10
b = 20

In [17]:
c = a
c

10

In [18]:
a = b
a

20

In [19]:
b = c

In [20]:
b

10

In [21]:
# operators

In [22]:
# arithmetic operators

In [23]:
a = 6
# assigning 6 to variable a

In [24]:
b = 9

In [25]:
a

6

In [26]:
b

9

In [27]:
a+b

15

In [28]:
a-b

-3

In [29]:
a*b

54

In [30]:
a/b

0.6666666666666666

In [31]:
4/2

2.0

In [32]:
# division opeartor returns result in float data type

In [33]:
4//2

2

In [37]:
# // --> floor division - returns nearest integer possible which is less 
# than or equal to the quotient

In [35]:
5/2

2.5

In [36]:
5//2

2

In [38]:
10//3

3

In [39]:
10/3

3.3333333333333335

In [40]:
10%3

1

In [41]:
# % returns the remainder of a division

In [42]:
2*2

4

In [44]:
3**2

9

In [45]:
# ** --> exponentiation - 3 to the power of 2

In [46]:
3.4**2

11.559999999999999

In [47]:
'abc' + 'def'

'abcdef'

In [48]:
# + when used with str performs concatenation

In [49]:
# operator overloading

In [50]:
'abc' * 3

'abcabcabc'

In [51]:
# * when used with str repeats the string that many number of times

In [53]:
# comparison operators - compares two values and returns a boolean value

In [54]:
a

6

In [55]:
b

9

In [56]:
a == b
# is a equal to b?

False

In [57]:
10 == 10

True

In [58]:
# not equal to -> !=

In [59]:
a != b

True

In [60]:
10 !=10

False

In [61]:
4>5

False

In [62]:
4<7

True

In [63]:
4>=4

True

In [64]:
5>=3

True

In [65]:
# logical operators

In [66]:
a

6

In [67]:
b

9

In [68]:
a>4 and b>11

False

In [69]:
4>5 or 6<7

True

In [70]:
not(10>5)

False

In [71]:
10>5

True

In [72]:
# assignment operators

In [73]:
a = 13

In [74]:
a

13

In [75]:
a+=1
a

14

In [77]:
# addition assignment -> adding 1 to a and assigning it back to a
# a = a+1

In [78]:
a

14

In [79]:
a+1

15

In [80]:
a

14

In [81]:
a-=2
a

12

In [82]:
# subtraction assignment -> a = a-2

In [83]:
a*=3
a

36

In [84]:
# a = a*3

In [85]:
a/=2
a

18.0

In [86]:
# a = a/2

In [87]:
a//=2
a

9.0

In [88]:
# a = a//2

In [89]:
18.0//2

9.0

In [90]:
# data type preservation

In [91]:
18//2

9

In [92]:
a

9.0

In [93]:
a%=2
a

1.0

In [94]:
a**=3
a

1.0

In [97]:
# membership operator --> checks if a values exists in a sequence of values

In [98]:
'a' in 'apple'

True

In [99]:
'x' in 'apple'

False

In [100]:
'p' not in 'apple'

False

In [102]:
# 1. Take base and height from user input.
# Write a Python function that calculates the area of a triangle

In [105]:
b = float(input("Enter base : "))
h = float(input("Enter height : "))

area = 0.5*b*h
area

Enter base : 8.5
Enter height : 9.9

42.075

In [103]:
# 2. Write a Python program to calculate the total cost of n items 
# where the cost of each item is p. Apply a 10% discount on the total 
# cost and display the discounted amount.(take n,p as user_input)

In [106]:
n = int(input("Enter no of items :"))
p = float(input("Enter cost per item :"))
total_cost = p*n
da = total_cost - (total_cost * 0.1)
da

Enter no of items :10
Enter cost per item :120

1080.0

In [104]:
# 3. Write a program to swap two without using a third variable or 
# without using (a,b = b,a)

In [107]:
a = 20
b = 10

In [108]:
a

20

In [109]:
b

10

In [110]:
a = a+b
a

30

In [111]:
b = a - b
b

20

In [112]:
a = a- b
a

10

In [113]:
a = 60
b = 80

In [114]:
a = a+b
b = a-b
a = a-b

In [115]:
a

80

In [116]:
b

60

In [118]:
# print - used to display information

In [119]:
print(a)

80

In [120]:
print("a")

a

In [121]:
print(20)

20

In [122]:
# print to display multiple items

In [124]:
name = 'Alice'
age = 25
print("Name :",name,"Age :",age)

Name : Alice Age : 25

In [129]:
print("Name :",name,"Age :",age)
print("This is my info")

Name : Alice Age : 25
This is my info

In [126]:
# by default print always adds a new line at the end

In [127]:
# end paramater can be used to make print display output in same line

In [132]:
print("Name :",name,"Age :",age, end = "******")
print("This is my info")
print("aaaa")

Name : Alice Age : 25******This is my info
aaaa

In [134]:
print("The max is:",a,"\nThe min is:",b)

The max is: 80
The min is: 60

In [135]:
# separator

In [136]:
print("apple","banana","cherry")

apple banana cherry

In [137]:
# by default print always displays items separated by space

In [141]:
print("apple","banana","cherry", sep =" *** ")

apple *** banana *** cherry

In [143]:
# special characters - escape sequences

In [144]:
print("hello world")

hello world

In [145]:
# hello
# world

In [146]:
print("hello \nworld")

hello
world

In [147]:
# hello   world

In [148]:
print("hello \tworld")

hello 	world

In [149]:
# hello \world

In [150]:
print("hello \\world")

hello \world

In [151]:
# it's raining

In [152]:
print("It\'s raining")

It's raining

In [154]:
# f strings - formatted strings

In [155]:
print("Value of a is :",a,"Value of b is :",b,"sum is :", a+b)

Value of a is : 80 Value of b is : 60 sum is : 140

In [156]:
print(f"Value of a is {a}, Value of b is {b}, Sum is {a+b}")

Value of a is 80, Value of b is 60, Sum is 140

In [157]:
# if-else

In [158]:
# if condition:
#     code
# else:
#     code1

In [159]:
age = 20

In [160]:
if age > 20:
    print("A is an adult")
    print("A can vote")
else:
    print("A is not an adult")
    print("A cannot vote")

A is not an adult
A cannot vote

In [162]:
age = 30

In [163]:
if age > 20:
    print("A is an adult")
    print("A can vote")
else:
    print("A is not an adult")
print("A cannot vote")

A is an adult
A can vote
A cannot vote

In [165]:
a = 40
if a>=70:
    print("A is greater than 70")
print(f"A is {a}")

A is 40

In [167]:
# multiple condition checking - elif

In [168]:
# if condition1:
#     code1
# elif condition2:
#     code2
# else:
#     code3

In [169]:
a = 80

In [170]:
if a<70:
    print("a is less than 70")
elif a > 70:
    print("a is greater than 70")
else:
    print("Not applicable")

a is greater than 70

In [171]:
# 1. take 2 numbers from user are find which is the greater one

In [176]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))

if a>b:
    print("A is greater than B")
elif a<b:
    print("A is lesser than B")
else:
    print("Both are equal")

Enter a:78
Enter b:78
Both are equal

In [172]:
# 2. Check if a person is eligible to donate blood.
# A person must be older than 18 and weigh more than 50 kg to be 
# eligible.

In [177]:
age = 22
weight = 48

if age > 18 and weight > 50:
    print("You are eligible to donate blood.")
else:
    print("You are not eligible to donate blood.")

You are not eligible to donate blood.

In [173]:
# 3. Write a program to check if a number is positive, negative, 
# or zero. Additionally, if the number is positive, check if it is 
# even or odd.

In [178]:
number = -10

if number > 0:
    if number % 2 == 0:
        print("The number is positive and even.")
    else:
        print("The number is positive and odd.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is negative.

In [174]:
# 4. Write a program to chbeck if a number x = 45 lies within these 
# ranges:
# 0 to 20: Print "Low range"
# 21 to 50: Print "Medium range"
# Above 50: Print "High range"

In [179]:
x = 45

if 0 <= x <= 20:
    print("Low range")
elif 21 <= x <= 50:
    print("Medium range")
else:
    print("High range")

Medium range

In [175]:
# 5. Write a program to categorize a persons BMI (Body Mass Index) 
# based on the following:

# BMI < 18.5: "Underweight"
# 18.5 <= BMI < 25: "Normal weight"
# 25 <= BMI < 30: "Overweight"
# BMI >= 30: "Obesity"

In [180]:
bmi = 27.5

if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 25:
    print("Normal weight")
elif 25 <= bmi < 30:
    print("Overweight")
else:
    print("Obesity")

Overweight

In [184]:
# 1.Write a program to calculate the average of three subjects' 
# marks entered by the user. Print "Pass" if the average is >= 40, 
# otherwise print "Fail."

In [189]:
mark1 = float(input("Enter marks for subject 1: "))
mark2 = float(input("Enter marks for subject 2: "))
mark3 = float(input("Enter marks for subject 3: "))

average = (mark1 + mark2 + mark3) / 3

if average >= 40:
    print(f"Pass with an average of {average:.2f}")
else:
    print(f"Fail with an average of {average:.2f}")

Enter marks for subject 1: 89.5
Enter marks for subject 2: 98
Enter marks for subject 3: 30
Pass with an average of 72.50

In [190]:
d = 8.765439
d

8.765439

In [191]:
type(d)

float

In [196]:
round(d,2)

8.77

In [193]:
print(f"value of d is {d}, 2-decimal places : {d:.2f}")

value of d is 8.765439, 2-decimal places : 8.77

In [185]:
# 2. Write a program to take two numbers as input and print whether 
# they are equal, the first is greater, or the second is greater.

In [194]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if num1>num2:
    print(f"{num1} is greater than {num2}")
elif num1<num2:
    print(f"{num1} is lesser than {num2}")
else:
    print(f"{num1} is equal to {num2}")

Enter the first number: 89
Enter the second number: 87
89.0 is greater than 87.0

In [186]:
# 3.Ask the user to input a number. Print "Divisible by both 3 and 5" 
# if true, otherwise print "Not divisible by both."

In [198]:
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("Divisible by both 3 and 5")
else:
    print("Not divisible by both")

Enter a number: 15
Divisible by both 3 and 5

In [187]:
# 4.Take three angles of a triangle as input. Print "Valid triangle" 
# if the sum is 180, otherwise print "Invalid triangle."

In [200]:
a1 = float(input("Enter first angle ->"))
a2 = float(input("Enter second angle ->"))
a3 = float(input("Enter third angle ->"))

if a1+a2+a3 == 180:
    print("Valid Triangle")
else:
    print("Invalid Triangle")

Enter first angle ->80
Enter second angle ->30
Enter third angle ->70
Valid Triangle

In [188]:
# 5.Take a number (1-7) as input and print the corresponding day of 
# the week.

In [204]:
day = int(input("Enter a number (1-7): "))

if day == 1:
    print("Monday")
elif day == 2:
    print("Tuesday")
elif day == 3:
    print("Wednesday")
elif day == 4:
    print("Thursday")
elif day == 5:
    print("Friday")
elif day == 6:
    print("Saturday")
elif day == 7:
    print("Sunday")
else:
    print("Invalid input")

Enter a number (1-7): 7
Sunday

In [201]:
# 6.Calculate the electricity bill based on:
# 5/unit for the first 50 units
# 7/unit for the next 100 units (51-150)
# 10/unit beyond 150 units

# Take units inout from user

In [207]:
units = int(input("Enter the number of units: "))

if units<=50:
    bill = units*5
elif units<=150:
    bill = (50*5) + (units-50)*7
else:
    bill = (50*5)+(100*7)+(units-150)*10

print(f"Total bill is {bill}")

Enter the number of units: 180
Total bill is 1250

In [208]:
# take 3 numbers input from user and print the greatest one

In [209]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

if num1>num2 and num1>num3:
    print(f"{num1} is greatest")
elif num2>num3:
    print(f"{num2} is greatest")
else:
    print(f"{num3} is greatest")

Enter the first number: 78
Enter the second number: 86
Enter the third number: 56
86.0 is greatest

In [210]:
# take 3 numbers input from user and print the greatest one,
# check if all of them are equal or if any two are equal

In [212]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [213]:
# ends with n actually stops at n-1

In [214]:
# Loops

In [217]:
# for loops - a way to repeat actions multiple times
# optimised execution - saves time and effort

In [218]:
# 1. taking each items from a sequence of items
# 2. executes the task/code for this taken item
# 3. moves to the next item automatically until it finishes with all items

In [219]:
# syntax - 
# for variable in sequence:

In [220]:
# string - sequence of characters

In [221]:
for i in "apple":
    print(i)

a
p
p
l
e

In [224]:
# range function -> generates a range of numbers, does not display
# range(start, stop,step(optional))

In [225]:
# range(2,9) --> generate numbers starting from 2 and ending till 8
# stops at n-1

In [226]:
range(2,9)

range(2, 9)

In [229]:
for i in range(2,9):
    print(f"{i} and type of i is {type(i)}")

2 and type of i is <class 'int'>
3 and type of i is <class 'int'>
4 and type of i is <class 'int'>
5 and type of i is <class 'int'>
6 and type of i is <class 'int'>
7 and type of i is <class 'int'>
8 and type of i is <class 'int'>

In [228]:
print(range(2,9))

range(2, 9)

In [230]:
for x in range(1,9,2):
    print(x)

1
3
5
7

In [232]:
for x in range(2,10,3):
    print(x)

2
5
8

In [234]:
for i in range(10,2):
    print(i)

In [235]:
for i in range(2,10,-1):
    print(i)

In [236]:
# negative step - reverse - can only work when the start is greater than the stop

In [237]:
for i in range(10,2,-1):
    print(i)

10
9
8
7
6
5
4
3

In [239]:
# 1. Write a program to print the first 10 multiples of a number entered by the user.

In [243]:
n = int(input("Enter a number :"))
for i in range(1,11):
    print(f"{n} * {i} = {n*i}")

Enter a number :5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [240]:
# 2. Write a program to print numbers from 20 to 10 in descending order using a for loop.

In [246]:
for i in range(20,9,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10

In [241]:
# 3. Write a program to calculate the sum of all even numbers between 1 and 50.

In [250]:
s = 0
for i in range(1,51):
    if i%2 == 0:
        s+=i
print(f"The sum is {s}")

The sum is 650

In [253]:
s = 0
for i in range(2,51,2):
    s+=i
print(f"The sum is {s}")

The sum is 650

In [242]:
# 4. Write a program to count the number of vowels in a string entered by the user.

In [260]:
t = input("Enter a sentence:").lower()
vowels = 'aeiou'
c = 0

for i in t:
    if i in vowels:
        c+=1
        
print(f"No of vowels in {t} is {c}")

Enter a sentence:I have 2 kittens
No of vowels in i have 2 kittens is 5

In [255]:
s = "Hello"
for i in s:
    print(i)

H
e
l
l
o

In [258]:
'e' in s
# is p present in s

True

In [261]:
'Hello'.lower()

'hello'

In [262]:
# 5. Write a program to generate and print square numbers from 1 to 10.

In [265]:
for i in range(1,11):
    print(f"Square of {i} is {i**2}")

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49
Square of 8 is 64
Square of 9 is 81
Square of 10 is 100

In [263]:
# 6. Write a program to print numbers from 1 to 30. For multiples of 3, print "Fizz" 
# instead of the number, and for multiples of 5, print "Buzz." For numbers that are 
# multiples of both 3 and 5, print "FizzBuzz."

In [269]:
for i in range(1,31):
    if i%3 == 0 and i%5 == 0:
        print(f"{i} --> FizzBuzz")
    elif i %3 == 0:
        print(f"{i} --> Fizz")
    elif i%5 == 0:
        print(f"{i} --> Buzz")
    else:
        print(f"{i} --> NA")

1 --> NA
2 --> NA
3 --> Fizz
4 --> NA
5 --> Buzz
6 --> Fizz
7 --> NA
8 --> NA
9 --> Fizz
10 --> Buzz
11 --> NA
12 --> Fizz
13 --> NA
14 --> NA
15 --> FizzBuzz
16 --> NA
17 --> NA
18 --> Fizz
19 --> NA
20 --> Buzz
21 --> Fizz
22 --> NA
23 --> NA
24 --> Fizz
25 --> Buzz
26 --> NA
27 --> Fizz
28 --> NA
29 --> NA
30 --> FizzBuzz

In [270]:
# 7. Write a program to calculate the factorial of a number entered by the user.
# 0! = 1

In [273]:
n = int(input("Enter a number"))

f = 1
if n == 0:
    print(1)
else:
    for i in range(1,n+1):
        f*=i
    
print(f"The factorial of n is {f}")

Enter a number5
The factorial of n is 120

In [276]:
# execution control statements
# break - completely stop the loop, used when you need to terminate loop early
# continue - skip a specifc iteration

In [283]:
for i in range(1,10):
    if i == 5:
        print("Stopping a loop at",i)
        break
    print(i)
print("Loop exited")

1
2
3
4
Stopping a loop at 5
Loop exited

In [279]:
for i in range(1,10):
    print(i)
print("Loop finishes")

1
2
3
4
5
6
7
8
9
Loop finishes

In [285]:
# continue - skips current iteration and moves to the next iteration

In [286]:
for i in range(1,10):
    if i == 5:
        print("Skipping :",i)
        continue
    print(i)
print("Loop finishes")

1
2
3
4
Skipping : 5
6
7
8
9
Loop finishes

In [287]:
for i in range(1,10):
    if i ==3:
        continue
    if i ==7:
        break
    print(i)

1
2
4
5
6

In [289]:
# Write a program to iterate through numbers from 1 to 100 and find the first multiple of 7

In [290]:
for i in range(1,100):
    if i%7==0:
        print(i)
        break

7

In [291]:
# Write a program to iterate through numbers from 1 to 100 and find the second multiple of 7

In [292]:
for i in range(1,100):
    if i%7==0 and i!=7:
        print(i)
        break

14

In [293]:
# Write a program that keeps summing numbers from 1 to 50 but stops adding numbers 
# once the sum exceeds 100. 
# Print the total sum and the number at which the loop stops.

In [297]:
s = 0
for i in range(1,51):
    s+=i
    print(f"i is {i} and sum is {s}")
    if s>100:
        print(f"Sum is {s} and number is {i}")
        break

i is 1 and sum is 1
i is 2 and sum is 3
i is 3 and sum is 6
i is 4 and sum is 10
i is 5 and sum is 15
i is 6 and sum is 21
i is 7 and sum is 28
i is 8 and sum is 36
i is 9 and sum is 45
i is 10 and sum is 55
i is 11 and sum is 66
i is 12 and sum is 78
i is 13 and sum is 91
i is 14 and sum is 105
Sum is 105 and number is 14

In [295]:
s = 0
for i in range(1,51):
    s+=i
print(s)

1275

In [298]:
# Take a string as input from the user. Write a program to print each character
# but stop when you encounter the first uppercase letter.

In [299]:
'H'.isupper()

True

In [301]:
'h'.isalpha()

True

In [2]:
s = input("Enter a string :")
for i in s:
    if i.isalpha() == True and i.isupper() == True:
        break
    print(i)

Enter a string :pythonClass
p
y
t
h
o
n

In [1]:
n = 1
while n<=5:
    print(n)
    n = n+1

1
2
3
4
5

In [4]:
# iterables/data structures - store multiple items
# lists, tuple, set, dictionary

In [5]:
# lists - stores multiple items in a ordered manner
# defined by []

In [6]:
l = ['apple','banana','orange',1,2,4.78,9.89,True,1]
l

['apple', 'banana', 'orange', 1, 2, 4.78, 9.89, True, 1]

In [7]:
type(l)

list

In [8]:
e = []
e

[]

In [10]:
# lists is ordered
# index - starts with 0 (starts from left and +ve)
# start from right (start from -1)

In [11]:
l

['apple', 'banana', 'orange', 1, 2, 4.78, 9.89, True, 1]

In [12]:
# access item - []
l[0]
# access oth index element in l

'apple'

In [13]:
l[8]

1

In [14]:
l[-1]

1

In [15]:
l[5]

4.78

In [16]:
l[-5]

2

In [17]:
# extract a part of the list
# slicing - list_name[start:stop:step]
# default --> start (0), stop(last element), step (1)

In [18]:
l

['apple', 'banana', 'orange', 1, 2, 4.78, 9.89, True, 1]

In [19]:
l[1:4]
# starting fro index 1 to index 3 (4 is not included)

['banana', 'orange', 1]

In [20]:
l[:]

['apple', 'banana', 'orange', 1, 2, 4.78, 9.89, True, 1]

In [21]:
l[:5]

['apple', 'banana', 'orange', 1, 2]

In [22]:
l[2:]

['orange', 1, 2, 4.78, 9.89, True, 1]

In [23]:
# step - skip elements

In [24]:
l[::2]

['apple', 'orange', 2, 9.89, 1]

In [26]:
l[::-1]
# -ve step --> reverse direction

[1, True, 9.89, 4.78, 2, 1, 'orange', 'banana', 'apple']

In [27]:
l[::-2]

[1, 9.89, 2, 'orange', 'apple']

In [28]:
l[-5:-1]

[2, 4.78, 9.89, True]

In [29]:
l

['apple', 'banana', 'orange', 1, 2, 4.78, 9.89, True, 1]

In [30]:
# mutable - modify a list

In [31]:
l[3]

1

In [32]:
l[3] = '89'

In [33]:
l

['apple', 'banana', 'orange', '89', 2, 4.78, 9.89, True, 1]

In [35]:
# add
# append - add one item to the list
# extend - add mutliple items to a list
# insert - add item at a specific index

In [36]:
l.append('Kiwi')

In [37]:
l

['apple', 'banana', 'orange', '89', 2, 4.78, 9.89, True, 1, 'Kiwi']

In [38]:
l.extend(['mango',7.8])

In [39]:
l

['apple',
 'banana',
 'orange',
 '89',
 2,
 4.78,
 9.89,
 True,
 1,
 'Kiwi',
 'mango',
 7.8]

In [40]:
l.insert(3,'date')

In [41]:
l

['apple',
 'banana',
 'orange',
 'date',
 '89',
 2,
 4.78,
 9.89,
 True,
 1,
 'Kiwi',
 'mango',
 7.8]

In [42]:
l.insert(2,['a','b'])

In [43]:
l

['apple',
 'banana',
 ['a', 'b'],
 'orange',
 'date',
 '89',
 2,
 4.78,
 9.89,
 True,
 1,
 'Kiwi',
 'mango',
 7.8]

In [2]:
# functions - reusable blocks of code

In [10]:
# 1. built-in functions
# 2. user defined functions

In [4]:
l = [1,9,8,8,1,6,5,3]
l

[1, 9, 8, 8, 1, 6, 5, 3]

In [5]:
type(l)

list

In [6]:
len(l)

8

In [7]:
sum(l)

41

In [8]:
max(l)

9

In [9]:
min(l)

1

In [11]:
# user defined functions

In [12]:
# syntax -
def function_name(parameters):
    code
    return output

In [21]:
def greet(name):
    return "My name is "+name

In [20]:
c = greet('Tres')
# calling

My name is Tres

In [17]:
c

'My name is Tres'

In [22]:
def xyz(a):
    print(f"{a+5}")

In [23]:
xyz(9)

14

In [24]:
d = xyz(10)
d

15

In [25]:
def xyz(a):
    return (f"{a+5}")

In [26]:
xyz(8)

'13'

In [27]:
# no parameter

In [30]:
def xyz(a,b):
    return "Hello!"

In [33]:
xyz()

TypeError: xyz() missing 2 required positional arguments: 'a' and 'b'

In [34]:
def add(a,b):
    return a+b

In [35]:
add(8,6)

14

In [38]:
# square
def sq(n):
    return n**2

In [40]:
sq(20)

400

In [44]:
# 1. Write a Function to Check if a Number is Even
def even(n):
    return n%2==0

In [46]:
even(2)

True

In [47]:
# 2. Write a Function to Find the Largest of Three Numbers

In [48]:
def large(a,b,c):
    if a>b and a>c:
        return a
    elif b>c:
        return b
    else:
        return c

In [49]:
large(9,8,10)

10

In [50]:
# 3. Write a Function to Calculate the Sum of a List without 
# using built in functions

In [51]:
def add(l):
    s = 0
    for i in l:
        s+=i
    return s

In [52]:
add([9,8,7,6,0,9,8,7])

54

In [62]:
s = [9,8,7]
c= 0
for i in s:
    c+=i
c

24

In [53]:
# 4. Write a Function to Check if a Word is a Palindrome

In [54]:
def pal(w):
    return w==w[::-1]

In [55]:
pal('mam')

True

In [59]:
s = 'kiwi'
s

'kiwi'

In [60]:
s[::-1]

'iwik'

In [56]:
# 5. Write a Function to Generate a Multiplication Table

In [57]:
def mul(n):
    for i in range(1,11):
        print(f"{n} X {i} = {n*i}")

In [58]:
mul(9)

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [63]:
# 6. Write a Function to Find the Maximum Number in a List 
# without using built in functions

In [64]:
def m(l):
    x = l[0]
    for i in l:
        if i>x:
            x = i
    return x

In [65]:
m([9,8,10,2])

10

In [67]:
l = [9,8,0,1,2,10]
x = l[0]
x

9

In [69]:
for i in l:
    print(i)
    if i>x:
        x = i
x

9
8
0
1
2
10

10

In [66]:
# 7. Write a Function to Check If Two Strings Are Anagrams

In [70]:
def anagrams(s1,s2):
    return sorted(s1) == sorted(s2)

In [71]:
anagrams('abcd','bcad')

True

In [73]:
sorted([9,0,1,2])

[0, 1, 2, 9]

In [80]:
l = [10,9,8,1,2,4,1]
l

[10, 9, 8, 1, 2, 4, 1]

In [81]:
sorted(l)
# prints the sorted list

[1, 1, 2, 4, 8, 9, 10]

In [82]:
l

[10, 9, 8, 1, 2, 4, 1]

In [83]:
l.sort()
# permanently sorts the list

In [84]:
l

[1, 1, 2, 4, 8, 9, 10]

In [86]:
# fibonacci series
# 0,1,1,2,3,5,8,....

In [87]:
a,b = 0,1
f = []
for i in range(10):
    f.append(a)
    a,b = b,a+b
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [88]:
for i in range(5):
    print(i)

0
1
2
3
4

In [89]:
a,b = 0,1
f = []
for i in range(10):
    print(f"Iteration no. {i+1}")
    print(f"Currently a = {a} and b = {b}")
    
    f.append(a)
    print(f)
    a,b = b,a+b
    print(f"Now,  a = {a} and b = {b}")
f

Iteration no. 1
Currently a = 0 and b = 1
[0]
Now,  a = 1 and b = 1
Iteration no. 2
Currently a = 1 and b = 1
[0, 1]
Now,  a = 1 and b = 2
Iteration no. 3
Currently a = 1 and b = 2
[0, 1, 1]
Now,  a = 2 and b = 3
Iteration no. 4
Currently a = 2 and b = 3
[0, 1, 1, 2]
Now,  a = 3 and b = 5
Iteration no. 5
Currently a = 3 and b = 5
[0, 1, 1, 2, 3]
Now,  a = 5 and b = 8
Iteration no. 6
Currently a = 5 and b = 8
[0, 1, 1, 2, 3, 5]
Now,  a = 8 and b = 13
Iteration no. 7
Currently a = 8 and b = 13
[0, 1, 1, 2, 3, 5, 8]
Now,  a = 13 and b = 21
Iteration no. 8
Currently a = 13 and b = 21
[0, 1, 1, 2, 3, 5, 8, 13]
Now,  a = 21 and b = 34
Iteration no. 9
Currently a = 21 and b = 34
[0, 1, 1, 2, 3, 5, 8, 13, 21]
Now,  a = 34 and b = 55
Iteration no. 10
Currently a = 34 and b = 55
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
Now,  a = 55 and b = 89

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [92]:
# lambda functions - small , anonymous functions
# short, easy to write, one-time purpose, compact

In [93]:
# syntax -
# lambda arguments : expression

In [94]:
def add10(n):
    return n+10

In [95]:
add10(9)

19

In [96]:
a = lambda n:n+10
a(9)

19

In [97]:
addn = lambda x,y:x+y
addn(9,8)

17

In [98]:
# define a function which multiplies each element of a list by 2

In [99]:
# lambda with map()

In [101]:
l = [9,3,4,1]
d = list(map(lambda x:x*2,l))
d

[18, 6, 8, 2]

In [102]:
# filter out even numbers

In [104]:
n = [9,10,2,1,4,6,12,3,4,5,7]
e = list(filter(lambda x:x%2==0,n))
e

[10, 2, 4, 6, 12, 4]

In [108]:
# built-in functions in python
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [109]:
# recursion

In [110]:
# factorial by recursion

In [113]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [114]:
factorial(5)

120

In [115]:
# sum of digits of a number

In [116]:
m = 987
m

987

In [117]:
m%10

7

In [119]:
m//10

98

In [120]:
def sumd(n):
    if n == 0:
        return 0
    else:
        return n%10 + sumd(n//10)

In [121]:
sumd(123)

6

In [123]:
3456123789//10

345612378

In [125]:
10//10

1

In [126]:
# power of a number

In [127]:
def power(x,n):
    if n == 0:
        return 1
    else:
        return x*power(x,n-1)

In [128]:
power(2,3)

8

In [129]:
# in built data structures

In [132]:
# set - collection of unqiue items, unordered,
# shows set values in sorted manner, mutable
# defined by {}

In [133]:
l = [8,9,7,65,4]
l

[8, 9, 7, 65, 4]

In [136]:
l[1:4]

[9, 7, 65]

In [137]:
s = {9,2,3,1,1,1,2,5,6}
s

{1, 2, 3, 5, 6, 9}

In [138]:
s[0]

TypeError: 'set' object is not subscriptable

In [139]:
s1 = set([9,8,8,7,7,1,3])
s1

{1, 3, 7, 8, 9}

In [140]:
# empty set
s2 = set()
s2

set()

In [141]:
type(s2)

set

In [142]:
# operations

In [143]:
s

{1, 2, 3, 5, 6, 9}

In [144]:
# add
s.add(7)

In [145]:
s

{1, 2, 3, 5, 6, 7, 9}

In [146]:
# remove
# remove(): Removes an element, 
# but raises an error if the element is not found.
# discard(): Removes an element, 
# but does not raise an error if the element is not found.

In [147]:
s.remove(10)

KeyError: 10

In [148]:
s.discard(10)

In [149]:
# check membership

In [150]:
5 in s

True

In [151]:
5 not in s

False

In [152]:
len(s)

7

In [157]:
# union (|) - Combines two sets, keeping only unique elements.
# intersection (&) - common elements
# difference (-) - Finds elements in one set but not in the other.
# symmetric diff (^) - Finds elements in either set, but not both.

In [155]:
s = {1,2,3,4,5}
y = {4,5,6,7,8}

In [156]:
s | y

{1, 2, 3, 4, 5, 6, 7, 8}

In [158]:
s&y

{4, 5}

In [159]:
s-y

{1, 2, 3}

In [160]:
s^y

{1, 2, 3, 6, 7, 8}

In [167]:
s1 = {1,2,3,4,5,6,7,8}
s2 = {4,5,6}

In [168]:
s2.issubset(s1)

True

In [164]:
s1.issubset(s2)

False

In [166]:
# issubset - Checks if all elements of one set are contained 
# in another set.

In [169]:
s1.issuperset(s2)

True

In [170]:
# disjoint - Checks if two sets have no elements in common.

In [171]:
s1.isdisjoint(s2)

False

In [172]:
{2,3}.isdisjoint({4,5})

True

In [173]:
# 1.Remove Duplicates from a List

In [175]:
l = [9,8,8,7,1,1,2,3,1,3]
l

[9, 8, 8, 7, 1, 1, 2, 3, 1, 3]

In [177]:
list(set(l))

[1, 2, 3, 7, 8, 9]

In [174]:
# 2. Count Unique Words in a Sentence

In [178]:
s = input("Enter a sentence separated by space:")
uw = len(set(s.split()))
uw

Enter a sentence separated by space:the situation is such that it is the toughest

7

In [179]:
a = 7
b = 14
c = 21

if c % b == 0:  
    if b % a == 0:  
        a, b, c = b, c, a  

print(a, b, c)

7 14 21

In [180]:
21%14

7

In [183]:
# tuples - collection of ordered, immutable elements
# defined using ()

In [184]:
t = (1,2,3,True,9.8,1,1,'hello')

In [185]:
t

(1, 2, 3, True, 9.8, 1, 1, 'hello')

In [186]:
type(t)

tuple

In [187]:
t1 = 9,8,7
t1

(9, 8, 7)

In [188]:
type(t1)

tuple

In [189]:
# single element

In [192]:
t2 = (9,)
t2

(9,)

In [193]:
type(t2)

tuple

In [194]:
# ordered

In [195]:
t

(1, 2, 3, True, 9.8, 1, 1, 'hello')

In [196]:
t[0]

1

In [197]:
t[2:5]

(3, True, 9.8)

In [198]:
t[0] = 9

TypeError: 'tuple' object does not support item assignment

In [199]:
len(t)

8

In [201]:
sum(t1)

24

In [202]:
(1,2,3) + (9,8,7)

(1, 2, 3, 9, 8, 7)

In [203]:
t1

(9, 8, 7)

In [204]:
t1 * 3

(9, 8, 7, 9, 8, 7, 9, 8, 7)

In [207]:
1 in t

True

In [208]:
t.index(2)

1

In [209]:
# packing and unpacking

In [210]:
p = 9,3,5,7
p

(9, 3, 5, 7)

In [211]:
p

(9, 3, 5, 7)

In [212]:
a,b,c,d = p

In [213]:
a

9

In [214]:
b

3

In [215]:
c

5

In [216]:
d

7

In [217]:
a = 9
b = 8
a,b = b,a

In [218]:
a

8

In [219]:
b

9

In [221]:
# list comprehension - concise way to create a list

In [223]:
# syntax -
# new_list = [expression for i in iterable if condition]

In [224]:
# create a list of squares in range (1,10)

In [225]:
sq = []
for i in range(1,11):
    sq.append(i**2)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [226]:
sq = [i**2 for i in range(1,11)]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [227]:
# Create a list of even numbers between 1 and 10.

In [228]:
e = []
for i in range(1,11):
    if i%2==0:
        e.append(i)
e

[2, 4, 6, 8, 10]

In [229]:
ev = [i for i in range(1,11) if i%2==0]
ev

[2, 4, 6, 8, 10]

In [230]:
w = ["apple", "banana", "cherry"]
u = [x.upper() for x in w]
u

['APPLE', 'BANANA', 'CHERRY']

In [232]:
# 1. Given a list of words, create a new list containing only 
# the words with more than 3 characters.

In [235]:
words = ["cat", "elephant", "dog", "bird", "fish"]
long_words = [word for word in words if len(word) > 3]
long_words

['elephant', 'bird', 'fish']

In [233]:
# 2. Extract all unique vowels present in the given sentence.

In [237]:
s = "hello, How are you?"
v = {c for c in s.lower() if c in 'aeiou'}
v

{'a', 'e', 'o', 'u'}

In [238]:
# count occurences of every vowel in a sentence

In [240]:
vc = {v:s.lower().count(v) for v in 'aeiou'}

In [241]:
vc

{'a': 1, 'e': 2, 'i': 0, 'o': 3, 'u': 1}

In [234]:
# 3. Generate a tuple of (number, square) pairs for numbers from 
# 1 to 5.

In [242]:
p = tuple((x,x**2) for x in range(1,6))
p

((1, 1), (2, 4), (3, 9), (4, 16), (5, 25))

In [243]:
p = [(x,x**2) for x in range(1,6)]
p

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [245]:
# dictionary - collection of key-value pairs

In [246]:
# unoredered,every key is unique,mutable, dynamic

In [247]:
# creation

In [248]:
d = {'name':'john','age':25,'city':'London'}
d

{'name': 'john', 'age': 25, 'city': 'London'}

In [249]:
type(d)

dict

In [253]:
d1 = dict(name = 'Emily',a=2, j='k',l =[6,7,8])
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8]}

In [254]:
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8]}

In [255]:
d2 = {'name': 'Emily', 'a': 2, 2: True, 3: [6, 7, 8]}
d2

{'name': 'Emily', 'a': 2, 2: True, 3: [6, 7, 8]}

In [256]:
# creating using dict keyword, can't assign numbers as key

In [257]:
d

{'name': 'john', 'age': 25, 'city': 'London'}

In [258]:
# access

In [259]:
d['name']

'john'

In [261]:
d['age']

25

In [267]:
# get method - avoids KeyError if the key doesn't exist

In [263]:
d.get('name')

'john'

In [264]:
d['salary']

KeyError: 'salary'

In [266]:
d.get('salary')

In [268]:
d.keys()

dict_keys(['name', 'age', 'city'])

In [269]:
d.values()

dict_values(['john', 25, 'London'])

In [270]:
d.items()

dict_items([('name', 'john'), ('age', 25), ('city', 'London')])

In [271]:
for k,v in d.items():
    print(f"key is {k} and value is {v}")

key is name and value is john
key is age and value is 25
key is city and value is London

In [274]:
# fromkeys - used to create a new dictionary with specified keys
# and default value

In [275]:
k = ['a','b','c']
d3 = dict.fromkeys(k)
d3

{'a': None, 'b': None, 'c': None}

In [282]:
k1 = ['age','salary']
d4 = dict.fromkeys(k1,'Unknown')

In [277]:
d4

{'age': 'Unknown', 'salary': 'Unknown'}

In [279]:
# adding and updating items

In [283]:
d

{'name': 'john', 'age': 25, 'city': 'London'}

In [284]:
# add

In [285]:
d['salary'] = 90000

In [286]:
d

{'name': 'john', 'age': 25, 'city': 'London', 'salary': 90000}

In [287]:
d['age'] = 30

In [288]:
d

{'name': 'john', 'age': 30, 'city': 'London', 'salary': 90000}

In [289]:
# remove

In [290]:
del d['salary']

In [291]:
d

{'name': 'john', 'age': 30, 'city': 'London'}

In [292]:
# pop() - returns the key-value pair that got removed

In [294]:
d.pop('age')

30

In [295]:
d

{'name': 'john', 'city': 'London'}

In [296]:
# clear() - removes all key-value pairs

In [297]:
d.clear()

In [298]:
d

{}

In [299]:
# dictionary comprehension

In [300]:
sq = {x:x**2 for x in range(1,11)}
sq

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [301]:
# Write a function to merge two dictionaries and 
# sum the values of common keys.

In [302]:
# dict1 = {'a': 10, 'b': 20, 'c': 30}
# dict2 = {'b': 5, 'c': 15, 'd': 25}
# o/p--> {'a': 10, 'b': 25, 'c': 45, 'd': 25}

In [307]:
def m(d1,d2):
    md= {}
    keys = set(d1.keys()).union(d2.keys())
    for k in keys:
        md[k] = d1.get(k,0)+d2.get(k,0)
    return md

In [308]:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}

In [309]:
m(dict1,dict2)

{'a': 10, 'c': 45, 'd': 25, 'b': 25}

In [310]:
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8]}

In [312]:
d1.get('b',0)

0

In [313]:
d1['b']= 0

In [314]:
d1

{'name': 'Emily', 'a': 2, 'j': 'k', 'l': [6, 7, 8], 'b': 0}

In [315]:
def greet(name, subject):
    return f"Name is {name}, with subject {subject}"

In [316]:
greet('John','Python')

'Name is John, with subject Python'

In [317]:
greet('John')

TypeError: greet() missing 1 required positional argument: 'subject'

In [318]:
# default parameter

In [319]:
def greet(name, subject = 'IT'):
    return f"Name is {name}, with subject {subject}"

In [320]:
greet('Emily','Python')

'Name is Emily, with subject Python'

In [321]:
greet('John')

'Name is John, with subject IT'

In [323]:
# regular parameters first and then default parameters

In [324]:
greet(subject = 'Chemistry', name = 'Dave')

'Name is Dave, with subject Chemistry'

In [325]:
def add(a,b,c):
    return a+b+c

In [329]:
add(9,8,7,6)

TypeError: add() takes 3 positional arguments but 4 were given

In [331]:
# *args and **kwargs - variable length arguments

In [332]:
# *args - variable number of positional arguments
# **kwargs - handle keyword arguments

In [333]:
# *args - those inputs get collected into a tuple

In [334]:
# sum of n numbers

In [335]:
def add(*args):
    s = 0
    for n in args:
        s+=n
    return s

In [336]:
add(9,8)

17

In [338]:
add(9,8,8,1,2,3,4,5,6,7,9.8)

62.8

In [339]:
# write a function that joins every word into a sentence

In [343]:
def con(*args):
    return ' '.join(args)

In [344]:
con('how','are','you','doing','today?')

'how are you doing today?'

In [341]:
s = "how:are:you"
l = s.split(':')
l

['how', 'are', 'you']

In [342]:
# join them with space in between
' '.join(l)

'how are you'

In [345]:
# split - separates a string based on a separator into 
# separate elements and stores it in a list

In [346]:
# Write a function that takes multiple lists as arguments and 
# returns a single list with all their elements.

In [347]:
def merge_list(*abc):
    cl = []
    for l in abc:
        cl.extend(l)
    return cl

In [348]:
merge_list([1,2,3],[9,8],[7,6,5])

[1, 2, 3, 9, 8, 7, 6, 5]

In [349]:
# **kwargs - keyword arguments (key-value pairs)
# collected as dictionary

In [350]:
def details(**kwargs):
    for k,v in kwargs.items():
        print(f"key is {k} --> value is {v}")

In [351]:
details(name = 'Alice', age = 35, city = 'London')

key is name --> value is Alice
key is age --> value is 35
key is city --> value is London

In [354]:
# arguments combined

In [352]:
def greet(reg, *args,**kwargs):
    for n in args:
        print(f"Name is {n}")
    for k,v in kwargs.items():
        print(f"key is {k} --> value is {v}")
    return reg

In [353]:
greet('Kiwi','alice','bob','charlie',name = 'Alice', age = 35, city = 'London')

Name is alice
Name is bob
Name is charlie
key is name --> value is Alice
key is age --> value is 35
key is city --> value is London

'Kiwi'

In [355]:
# Write a function to calculate the final price of a product 
# after applying a discount. The function should take the 
# following parameters:
# price (mandatory): The original price of the product.
# discount (optional, default = 10%): The percentage discount 
# to apply. Return the final price after applying the discount.

In [358]:
def cal(price,d=10):
    fp = price - (price*d/100)
    return fp

In [359]:
cal(10000)

9000.0

In [360]:
cal(9000,8)

8280.0

In [356]:
# Write a function calculate_average that takes a variable number of 
# numeric arguments. The function should return the average of the 
# numbers. If no arguments are passed, return 0.

In [361]:
def calavg(*args):
    if len(args)==0:
        return 0
    else:
        s = 0
        for n in args:
            s+=n
        return s/len(args)

In [362]:
calavg(9,7,9,8,6,5)

7.333333333333333

In [363]:
calavg()

0

In [357]:
# Write a function filter_odd_even that takes a variable
# number of integer arguments and returns two separate lists: 
# one with odd numbers and one with even numbers.

In [364]:
def fil(*args):
    even = [n for n in args if n%2==0]
    odd = [n for n in args if n%2!=0]
    
    return even,odd

In [365]:
fil(8,7,6,9,1,12,5,4,13,0)

([8, 6, 12, 4, 0], [7, 9, 1, 5, 13])

In [368]:
# oops - object oriented programming
# way of organizing your code around objects and their interactions, 
# instead of just functions and logic

In [370]:
# class and object
# class - blueprint for creating objects
# object - instance of a class

In [371]:
# car mftrng cmpny - class
# car - object
# attributes , methods

In [372]:
# A class is like a cookie cutter (blueprint).
# Objects are the cookies made from that cutter.

In [374]:
# define a class
# class classname:
#     code
#     pass

In [375]:
# object
# obj_name = classname()

In [376]:
class car:
#     initialise attributes
    def __init__(self, brand,color):
        self.brand = brand
        self.color = color
#  methods
    def display_details(self):
        print(f"This car is a {self.color}{self.brand} with dah display")
        
    def honk(self):
        print(f"Beep Beep!")

In [377]:
car1 = car('mercedes','red')

In [378]:
car1.display_details()

This car is a redmercedes with dah display

In [379]:
car1.honk()

Beep Beep!

In [382]:
# def __init__ --> constructor
# special method that automatically whenever a object of this 
# class is created
# self -refers to the specific object

In [383]:
# without init
# class xyz:
#     code
    
# s = xyz()

# s.brand = 'Audi'
# s.color = 'Blue'

In [384]:
class Account:
    def __init__(self, account_holder, balance=0):
        self.account_holder = account_holder  # Account holder's name
        self.balance = balance  # Initial balance

    def deposit(self, amount):
        self.balance += amount
        print(f"Deposited {amount}. New balance is {self.balance}")

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance is {self.balance}")
        else:
            print("Insufficient funds")

    def get_balance(self):
        return self.balance

    def __str__(self):
        return f"Account holder: {self.account_holder}, Balance: {self.balance}"

In [386]:
ac1 = Account("john",600)

In [387]:
ac1.deposit(1000)

Deposited 1000. New balance is 1600

In [388]:
print(ac1)

Account holder: john, Balance: 1600

In [390]:
# methods - functions used to define behaviour or 
# actions of the object created from that class

In [391]:
# 3 types of methods-
# 1. instance
# 2. class
# 3. static

In [393]:
# instance method - work with the data stored in the object
# self as their first parameter

In [398]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year
    
    def display(self):
        return f"The car is a {self.brand}_{self.model}_{self.year}"

In [399]:
c1 = Car('Toyota',"Camry",2022)

In [400]:
print(c1)

<__main__.Car object at 0x7f89c8f204f0>

In [401]:
c1.display()

'The car is a Toyota_Camry_2022'

In [405]:
# class method - works with the class itself
# defined by - @classmethod
# cls - refers to the class

In [413]:
class employee:
    c = 'XYZ'
    
    def __init__(self,name, position):
        self.name = name
        self.position = position
    
    @classmethod
    def change(cls,newcomp):
        cls.c = newcomp

In [414]:
employee.change('TechCorp')

In [415]:
e1 = employee('Alice',"DS")

In [416]:
e1.c

'TechCorp'

In [417]:
e2 = employee('Bob','CA')

In [418]:
e2.c

'TechCorp'

In [425]:
# why - organise and structure our code

In [426]:
# encapsulation

In [436]:
class BankAccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder
        self.__balance = balance  # Private attribute (hidden)

    def deposit(self, amount):
        self.__balance += amount
        print(f"{amount} deposited. New balance: {self.__balance}")

    def withdraw(self, amount):
        if amount > self.__balance:
            print("Insufficient balance!")
        else:
            self.__balance -= amount
            print(f"{amount} withdrawn. New balance: {self.__balance}")
    
    def get_balance(self):
        return self.__balance

In [437]:
ac1 = BankAccount("Alice",100)

In [438]:
ac1.account_holder

'Alice'

In [439]:
ac1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [440]:
ac1.get_balance()

100

In [442]:
# inheritance - allows a class to 
# inherit attributes and methods from another class

In [443]:
# parent class
class animal:
    def __init__(self,name):
        self.name = name
    def speak(self):
        print(f"{self.name} makes a sound")
# child class
class dog(animal):
    def speak(self): #method overriding
        print(f"{self.name} barks")

In [444]:
d1 = dog('Buddy')

In [445]:
d1.speak()

Buddy barks

In [446]:
d2 = animal('Pipi')

In [447]:
d2.speak()

Pipi makes a sound

In [449]:
# Polymorphism - allows methods with same name to have different working

In [455]:
class shape:
    def area(self):
        pass
class circle(shape):
    def __init__(self,radius):
        self.radius = radius
        
    def area(self):
        return 3.14*self.radius*self.radius

In [456]:
c = shape()

In [457]:
c.area()

In [458]:
c1 = circle(9)

In [459]:
c1.area()

254.34

In [465]:
def analyse(s):
    vowels = 'aeiou'
    v_c = {v: s.lower().count(v) for v in vowels}
    w_c = len(s.split())
    s_w = min(s.split(), key = len)
    l_w = max(s.split(), key = len)
    
    return {"vowel_count" : v_c,
           "word_count" : w_c,
           "shortest_word_length" : len(s_w),
           "longest_word_length" : len(l_w)}

In [466]:
analyse("This is an example sentence to be counted")

{'vowel_count': {'a': 2, 'e': 7, 'i': 2, 'o': 2, 'u': 1},
 'word_count': 8,
 'shortest_word_length': 2,
 'longest_word_length': 8}

In [467]:
def s(*lists):
    ul = []
    for l in lists:
        ul.extend(l)
    return list(set(ul))

In [468]:
s([1,2,3],[9,6,2],[9,1,3,4,5,2])

[1, 2, 3, 4, 5, 6, 9]

In [480]:
def word_frequency(sentences):
    word_count = {}
    for sentence in sentences:
        words = sentence.split()
        for word in words:
            word_count[word] = word_count.get(word, 0) + 1
    return word_count

In [481]:
word_frequency(["hello world", "hello again", "world of python"])

{'hello': 2, 'world': 2, 'again': 1, 'of': 1, 'python': 1}

In [469]:
s = "this is a example"
w = s.split()

In [470]:
w

['this', 'is', 'a', 'example']

In [471]:
e = {}

In [472]:
type(e)

dict

In [473]:
for i in w:
    e[i] = e.get(i,0)+1

In [474]:
e

{'this': 1, 'is': 1, 'a': 1, 'example': 1}

In [475]:
p = {'a':1,'b':2}
p

{'a': 1, 'b': 2}

In [476]:
p['k'] = 9

In [477]:
p

{'a': 1, 'b': 2, 'k': 9}

In [482]:
p.get('c',0)

0

In [486]:
def student_marks(students):
    result = {}
    for name, *marks in students:
        avg_marks = sum(marks) / len(marks)
        result[name] = avg_marks
    return result

In [485]:
s = [('Alice',86,98,90),('Bob',86,82,83)]

In [484]:
s

[('Alice', 86, 98, 90), ('Bob', 86, 82, 83)]

In [487]:
student_marks(s)

{'Alice': 91.33333333333333, 'Bob': 83.66666666666667}

In [492]:
def filter_names(names, length):
    result = {name for name in names if len(name) >= length}
    return result

In [493]:
filter_names(["Alice", "Bob", "Charlie", "David"], 5)

{'Alice', 'Charlie', 'David'}

In [490]:
l = ["Alice", "Bob", "Charlie", "David"]

In [491]:
{i for i in l if len(i)>=5}

{'Alice', 'Charlie', 'David'}

In [494]:
def common_and_unique(coll1, coll2):
    common = set(coll1) & set(coll2)
    unique = set(coll1) | set(coll2)
    return list(common), list(unique)

In [495]:
common_and_unique([1, 2, 3], [3, 4, 5])

([3], [1, 2, 3, 4, 5])